// app global css
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');
@import 'animate.css';

@import 'quasar.variables'

* 
	margin 0
	padding 0
	font-family 'Open Sans', sans-serif


body, html {
	/* these don't matter: */
	margin: 0;
	padding: 0;
	overflow-x hidden
	scroll-behavior smooth
}
.full-window-height {
	height: 100vh; /* ONLY if you want the video to fill the entire browser window. Support: http://caniuse.com/#search=vh */
}
.video-bg {
	position: relative; /* contain the abs-pos <video> */
	width: 100%;
	overflow: hidden; /* prevent scrollbars */
	/* these below don't matter: */
	/*padding: 10% 0; */
	text-align: center;
	font: bold 40px/1.2 sans-serif;
}
.video-bg video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /* keep centered in parent */
	z-index: -1; /* keep video behind other content */
	min-width: 100%; /* always cover horizontal */
	min-height: 100%; /* always cover vertical */
	/*margin-top: -32px;*/
}
/*h1 {*/
	/* these don't matter: */
	/*color: white;*/
	/*text-shadow: 2px 2px 10px black;*/
/*}*/

#mouse {
		display: block;
		border: 2px solid #fff;
		border-radius: 38%;
	
		padding: 4px 6px;
}
#soluciones_tecnologicas{
	box-sizing: border-box;
	background: #13133e;
	background: -moz-radial-gradient(center, ellipse cover, #13133e 0%, #00000f 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #13133e 0%,#00000f 100%);
	background: radial-gradient(ellipse at center, #13133e 0%,#00000f 100%);
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13133e', endColorstr='#00000f',GradientType=1 );
	
}

.q-carousel{
	width: 75vh;
	height: 70vh;
}

@media only screen and (max-width: 768px){
	.q-carousel{
		width: 28vh;
		height: 26vh;
	}
	#wall_x .editable{
		font-size 20px!important;
	}
}


#soluciones_corporativas{
	box-sizing: border-box;
	background: #227cb1;
	background: -moz-radial-gradient(center, ellipse cover, #227cb1 0%, #122d32 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #227cb1 0%,#122d32 100%);
	background: radial-gradient(ellipse at center, #227cb1 0%,#122d32 100%);
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#227cb1', endColorstr='#122d32',GradientType=1 );
}

.box {
	margin: 8rem auto;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.2);
	background-image:url(/statics/iconcerebro.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60%;
	text-align: center;
}

.box .icon-stats-dots {
	position: absolute;
	top: 28%;
	left: 0;
	width: 100%;
	color: #FFF;
	font-size: 7.2rem;
}

.sonar-effect {
	position: relative;
}

.sonar-effect:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	animation: sonar 1.5s ease-in-out 0ms infinite;
}

@-webkit-keyframes sonar {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 5px 7px rgba(255, 255, 255, 0.4), 0 0 10px 20px #1b5b7c, 0 0 0 20px rgba(255, 255, 255, 0.4);
	}
	100% {
		opacity: 0;
		box-shadow: 0 0 5px 7px rgba(255, 255, 255, 0.4), 0 0 10px 20px #1b5b7c, 0 0 0 20px rgba(255, 255, 255, 0.4);
		transform: scale(1.5);
	}
}

@-moz-keyframes sonar {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 5px 7px rgba(255, 255, 255, 0.4), 0 0 10px 20px #1b5b7c, 0 0 0 20px rgba(255, 255, 255, 0.4);
	}
	100% {
		opacity: 0;
		box-shadow: 0 0 5px 7px rgba(255, 255, 255, 0.4), 0 0 10px 20px #1b5b7c, 0 0 0 20px rgba(255, 255, 255, 0.4);
		transform: scale(1.5);
	}
}

@keyframes sonar {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 5px 7px rgba(255, 255, 255, 0.4), 0 0 10px 20px #1b5b7c, 0 0 0 20px rgba(255, 255, 255, 0.4);
	}
	100% {
		opacity: 0;
		box-shadow: 0 0 5px 7px rgba(255, 255, 255, 0.4), 0 0 10px 20px #1b5b7c, 0 0 0 20px rgba(255, 255, 255, 0.4);
		transform: scale(1.5);
	}
}


::-webkit-scrollbar {
		width: 5px;
		height: 5px;
}
::-webkit-scrollbar-button {
		width: 0px;
		height: 0px;
}
::-webkit-scrollbar-corner {
		background: transparent;
}

::-webkit-scrollbar-thumb {
		background: #235a84;
		border: 0px none #ffffff;
		border-radius: 51px;
}
::-webkit-scrollbar-track {
		background: #666666;
		border: 0px none #ffffff;
		border-radius: 53px;
}


.bg-darkblue
	background-color $darkblue

.text-h4
.text-h5
	font-family 'Josefin Sans', sans-serif
	
.text-body2
	font-size 16.5px!important
	
.text-body1
	font-size 18px!important
	max-width: 800px;
	
.imageX{
	width:100%;
	height: 50vh;
	box-sizing: border-box;
}

#wall_x {
	background: url(/statics/img1.jpg) no-repeat;
	background-position: bottom;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
}


#wall_x .editable{
	text-align:center;
	color:#fff;
	margin:23vh auto;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 35px;
	background-color: rgba(0,0,0,0.5);
	padding: 28px;
	height: auto;
	min-height: 80px;
	display: block;
	line-height: 17px;
	// box-sizing: content-box!important;
}